# ===============================
# OS junk
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Editor / IDE
# ===============================
.vscode/
.idea/

# ===============================
# Python / Django
# ===============================
__pycache__/
*.pyc
.env
venv/
env/

# Django local files
db.sqlite3
*.log

# ===============================
# Frontend
# ===============================
node_modules/
dist/
build/
.DS_Store
